@import url("Import.css");
@import url("Nullstyle.css");
* {
  scroll-behavior: smooth;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 93px;
}
header nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  opacity: 0.74;
}
header nav a {
  font-size: 13.5px;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 1000;
  font-family: "Lato", sans-serif;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px 0 5px;
  padding: 3px 13px;
}
header nav a:hover {
  border-radius: 3px;
  background-color: orange;
  color: #fff;
}

.boostUpYourLocalBuisnes {
  background-color: #709dca;
  height: 589px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.boostUpYourLocalBuisnes .boost_Text {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.boostUpYourLocalBuisnes .boost_Text h1 {
  font-family: "Prompt", sans-serif;
  font-size: 35px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #ffffff;
  margin-bottom: 16px;
}
.boostUpYourLocalBuisnes .boost_Text p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
  color: white;
}
.boostUpYourLocalBuisnes .boost_Login {
  height: 20%;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.boostUpYourLocalBuisnes .boost_Login div {
  margin: 0 15px;
  width: 20%;
  height: 46px;
  background-color: #ffffff;
  padding: 0 20px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.boostUpYourLocalBuisnes .boost_Login div img {
  margin-right: 10px;
}
.boostUpYourLocalBuisnes .boost_Login div input {
  max-width: 90%;
}
.boostUpYourLocalBuisnes .boost_Login button {
  width: 25%;
  height: 46px;
  background-color: #ffbb42;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
}
.boostUpYourLocalBuisnes .boost_Img {
  height: 48%;
  width: 45%;
}
.boostUpYourLocalBuisnes .boost_Img .note {
  width: 100%;
  height: 343px;
  background-image: url(ICON/Nout.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border: none;
}
.boostUpYourLocalBuisnes .boost_Img .note img {
  width: 70%;
  height: 75%;
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.dotts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.dotts .dott {
  margin: 0 2px;
}

.OurServise {
  height: 720px;
  margin-top: 100px;
}

.OurServise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.OurServise .Text {
  text-align: center;
}
.OurServise .Text h2 {
  font-family: Gotham;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  color: #394b50;
}
.OurServise .Text p {
  margin-top: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
}
.OurServise .Articles {
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  height: 80%;
  width: 80%;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
}
.OurServise .Articles article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}
.OurServise .Articles article .img {
  width: 10%;
}
.OurServise .Articles article .text {
  width: 85%;
}
.OurServise .Articles article .text h3 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #394b50;
}
.OurServise .Articles article .text p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #7b7b7b;
  font-weight: normal;
  margin-top: 10px;
}

.About-us {
  height: 623px;
  width: 100%;
  background-color: #ffc155;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.About-us .About-IMG {
  width: 50%;
  height: 100%;
}
.About-us .About-IMG img {
  width: 100%;
  height: 100%;
}
.About-us .About-text {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.About-us .About-text .inner-text {
  width: 68%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.About-us .About-text .inner-text h3 {
  font-family: "Lato";
  font-size: 30px;
  line-height: 22px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #ffffff;
}
.About-us .About-text .inner-text p {
  font-family: "Open Sans";
  max-width: 100%;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}
.About-us .About-text .inner-text button {
  width: 145px;
  height: 46px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #e7ad48;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.Chose-your_price {
  height: 898px;
  background-color: #e7edf3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Chose-your_price .Chose {
  height: 75%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Chose-your_price .Chose .Chose-text {
  text-align: center;
  height: 20%;
}
.Chose-your_price .Chose .Chose-text h2 {
  font-family: Gotham;
  font-size: 30px;
  line-height: 22px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #394b50;
}
.Chose-your_price .Chose .Chose-text p {
  margin-top: 10px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: normal;
  color: #75888d;
}
.Chose-your_price .Chose .Chose-cards {
  width: 90%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Chose-your_price .Chose .Chose-cards .Card {
  background-color: #ffffff;
  height: 90%;
  width: 33.333%;
  border: 1px solid #ccd5df;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Chose-your_price .Chose .Chose-cards .Card .Card_inner {
  height: 80%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Chose-your_price .Chose .Chose-cards .Card_blue {
  height: 100%;
  width: 33.333%;
  background-color: #709dca;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Chose-your_price .Chose .Chose-cards .Card_blue .Card_inner {
  height: 75%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.Chose-your_price .Chose .Chose-cards .Card_blue .Name {
  color: #fff;
  text-align: center;
}
.Chose-your_price .Chose .Chose-cards .Card_blue .Price {
  text-align: center;
}
.Chose-your_price .Chose .Chose-cards .Card_blue .Price sup {
  font-family: Lato;
  font-size: 40px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.Chose-your_price .Chose .Chose-cards .Card_blue .Price p {
  color: #fff;
}
.Chose-your_price .Chose .Chose-cards .Card_blue .Price span {
  font-family: Lato;
  font-size: 15px;
  font-weight: 300;
  text-transform: none;
  color: #ffffff;
  text-transform: uppercase;
}
.Chose-your_price .Chose .Chose-cards .Name {
  font-family: Lato;
  font-size: 25px;
  line-height: 22px;
  font-weight: 300;
  text-transform: uppercase;
  color: #818b95;
  height: 10%;
}
.Chose-your_price .Chose .Chose-cards .Price {
  height: 25%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Chose-your_price .Chose .Chose-cards .Price sup {
  font-family: Lato;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  height: 60%;
}
.Chose-your_price .Chose .Chose-cards .Price p {
  font-family: Lato;
  font-size: 60px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffbb42;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Chose-your_price .Chose .Chose-cards .Price span {
  font-family: Lato;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  color: #818b95;
  height: 20%;
}
.Chose-your_price .Chose .Info {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  text-align: center;
}
.Chose-your_price .Chose .Info span {
  width: 80%;
  border-top: 1px solid #b5bbc1;
  font-family: Lato;
  font-size: 13.5px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  color: #b5bbc1;
}
.Chose-your_price .Chose .Button {
  width: 131px;
  height: 10%;
}
.Chose-your_price .Chose .Button button {
  width: 100%;
  height: 100%;
  background-color: #ffbb42;
  border: none;
  border-radius: 5px;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.How-it-work {
  height: 858px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.How-it-work .How_inner {
  height: 100%;
  width: 76%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.How-it-work .How_inner .How-text {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.How-it-work .How_inner .How-text h2 {
  font-family: Gotham;
  font-size: 30px;
  line-height: 22px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #394b50;
}
.How-it-work .How_inner .How-text p {
  margin-top: 7px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: normal;
}
.How-it-work .How_inner .How-steps {
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.How-it-work .How_inner .How-steps article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}
.How-it-work .How_inner .How-steps article .img {
  height: 20%;
}
.How-it-work .How_inner .How-steps article .text {
  text-align: center;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.How-it-work .How_inner .How-steps article .text h3 {
  font-family: Lato;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #394b50;
}
.How-it-work .How_inner .How-steps article .text p {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #7b7b7b;
}
.How-it-work .How_inner .How-button {
  height: 10%;
  width: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.How-it-work .How_inner .How-button button {
  background-color: #ffbb42;
  width: 100%;
  height: 50%;
  border: none;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
}

.Happy-client {
  height: 908px;
  background-color: #ffc155;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Happy-client .Happy_inner {
  height: 80%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Happy-client .Happy_inner .Text {
  text-align: center;
}
.Happy-client .Happy_inner .Text h2 {
  font-family: Gotham;
  font-size: 30px;
  line-height: 22px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #ffffff;
}
.Happy-client .Happy_inner .Text p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  margin-top: 10px;
  color: #fff;
}
.Happy-client .Happy_inner .Articles {
  height: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 20px 50%;
  grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: 50% 20px 50%;
  grid-template-rows: repeat(2, 50%);
  grid-gap: 20px;
}
.Happy-client .Happy_inner .Articles > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.Happy-client .Happy_inner .Articles > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.Happy-client .Happy_inner .Articles > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.Happy-client .Happy_inner .Articles > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.Happy-client .Happy_inner .Articles article {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Happy-client .Happy_inner .Articles article .img {
  width: 20%;
}
.Happy-client .Happy_inner .Articles article .text {
  width: 70%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.Happy-client .Happy_inner .Articles article .text p {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #7b7b7b;
}
.Happy-client .Happy_inner .Articles article .text .spans {
  font-family: Lato;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f6772c;
}
.Happy-client .Happy_inner .Articles article .text .spans :last-child {
  color: #99a9ae;
}

.Newslater {
  height: 1208px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Newslater .News_inner {
  height: 80%;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.Newslater .News_inner .Text {
  height: 10%;
  text-align: center;
}
.Newslater .News_inner .Text h2 {
  font-family: Gotham;
  font-size: 30px;
  line-height: 22px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #394b50;
}
.Newslater .News_inner .Text p {
  margin-top: 10px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: normal;
}
.Newslater .News_inner .form {
  height: 10%;
  width: 80%;
}
.Newslater .News_inner .form form {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Newslater .News_inner .form form .input {
  height: 47px;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
}
.Newslater .News_inner .form form .input input {
  width: 80%;
}
.Newslater .News_inner .form form .input img {
  margin-right: 10px;
}
.Newslater .News_inner .form form button {
  height: 46px;
  background-color: #ffbb42;
  width: 25%;
  border: none;
  border-radius: 5px;
}
.Newslater .News_inner .Map {
  width: 100%;
  height: 549px;
  background: url(ICON/Map.png) 0 0/100% 100% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Newslater .News_inner .Map .address {
  width: 20%;
  height: 298px;
  background: url(ICON/SMS.png) 0 0/100% 100% no-repeat;
  border: 3px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.Newslater .News_inner .Map .address h3 {
  font-family: Lato;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.Newslater .News_inner .Map .address p {
  margin-top: 10px;
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  color: #aeb7ba;
}
.Newslater .News_inner .Map .address span {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  color: #ffbb42;
}
.Newslater .News_inner nav {
  height: 20%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #394b50;
}